$gris-ermo: #687A7F;
$negro-ermo: #16161E;
$azul-ermo: #3F52FF;

.curzr-big-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50%;
    pointer-events: none;
    transition:  width, height 0.2s ease;
    z-index: 9999;
    transform: translate(-50%, -50%);
    will-change: transform;
    transform-origin: center;
  }
  
  .circle {
    width: 100%;
    height: 100%;
    border: 2px solid $negro-ermo;
    border-radius: 50%;
  }
  
  .dot {
    position: absolute;
    top: 53%;
    left: 53%;
    width: 9px;
    height: 9px;
    background: $azul-ermo;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .curzr-big-circle.hover {
    width: 90px;
    height: 90px;
    transition:  width, height 0.3s ease;
  }

 

  .curzr-big-circle.hover .dot{
    background-color: white;
  }

 